<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="">
        <div class="container">
            <nav>
                <div class="nav-links">
                    <a href="{% url 'post_feed' %}">Feed</a>
                </div>
                <div class="user-info">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' user.id %}">{{ user.username }}</a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-logout">Logout</button>
                        </form>
                    {% else %}
                        <div class="nav-links">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    
    <main class="content, container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
